*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (max-width: 0) {
  .test-class {
    background-color: red !important;
  }
}
@media (max-width: 480px) {
  .test-class {
    background-color: blue !important;
  }
}
@media (max-width: 780px) {
  .test-class {
    background-color: green !important;
  }
}
@media (max-width: 1080px) {
  .test-class {
    background-color: purple !important;
  }
}
@media (max-width: 1380px) {
  .test-class {
    background-color: orange !important;
  }
}
@media (max-width: 1400px) {
  .test-class {
    color: pink;
  }
}

@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Light.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Regular.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Medium.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Bold.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
* {
  color: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
}
html ::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #4053FD;
}
html ::selection {
  color: #ffffff;
  background: #4053FD;
}

body {
  position: relative;
  font-family: "Times New Roman", Helvetica, Sans-serif;
  background-color: #ffffff;
  color: #2B2B36;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}
body::before {
  content: "";
  position: absolute;
  left: 160px;
  background-color: #E0E0E3;
  height: 100%;
  width: 1px;
  z-index: -1;
}
@media (max-width: 1380px) {
  body::before {
    left: 64px;
  }
}
@media (max-width: 1080px) {
  body::before {
    left: 12px;
  }
}
@media (max-width: 480px) {
  body::before {
    display: none;
  }
}
body::after {
  content: "";
  top: 0;
  position: absolute;
  right: 160px;
  background-color: #E0E0E3;
  height: 100%;
  width: 1px;
  z-index: -1;
}
@media (max-width: 1380px) {
  body::after {
    right: 64px;
  }
}
@media (max-width: 1080px) {
  body::after {
    right: 12px;
  }
}
@media (max-width: 480px) {
  body::after {
    display: none;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

svg {
  transition: all 0.2s ease;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2B2B36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4053FD;
}

.vh-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 72px;
  padding: 16px 0px;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 100;
}
.vh-header--scroll-mode {
  background-color: rgba(255, 255, 255, 0.84);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-bottom: 1px #E0E0E3 solid;
}
.vh-header--scroll-mode .nav-item {
  color: #2B2B36 !important;
}
.vh-header--scroll-mode .nav-item::after {
  background-color: #2B2B36 !important;
  opacity: 0.3 !important;
}
.vh-header--scroll-mode .nav-item:hover::after {
  opacity: 1 !important;
}
.vh-header--scroll-mode .nav-divider {
  background-color: #2B2B36 !important;
  opacity: 0.3 !important;
}
.vh-header--scroll-mode .nav-toggle-line {
  background-color: #2B2B36 !important;
}
.vh-header .header-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  padding: 0 24px;
  margin: auto;
}
@media (max-width: 1380px) {
  .vh-header .header-content-container {
    max-width: 960px;
  }
}
@media (max-width: 1080px) {
  .vh-header .header-content-container {
    padding: 0px 40px;
  }
}
@media (max-width: 480px) {
  .vh-header .header-content-container {
    padding: 0px 16px;
  }
}
.vh-header .header-content-container .logo-img {
  max-width: 80px;
}
.vh-header .header-content-container .vh-nav-bar--header {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 780px) {
  .vh-header .header-content-container .vh-nav-bar--header {
    display: none;
  }
}
.vh-header .header-content-container .vh-nav-bar--header .nav-item {
  position: relative;
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ffffff;
  transition: all 0.2s linear;
}
.vh-header .header-content-container .vh-nav-bar--header .nav-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  height: 1px;
  width: 32%;
  background-color: #ffffff;
  opacity: 0.5;
  transition: all 0.2s linear;
}
.vh-header .header-content-container .vh-nav-bar--header .nav-item:hover::after {
  width: 100%;
  opacity: 1;
}
.vh-header .header-content-container .vh-nav-bar--header .nav-divider {
  height: 12px;
  width: 1px;
  background-color: #ffffff;
  opacity: 0.5;
}
.vh-header .header-content-container .mobile-menu-toggle {
  display: flex;
  gap: 2px;
  width: 40px;
  height: 40px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 780px) {
  .vh-header .header-content-container .mobile-menu-toggle {
    display: flex;
  }
}
.vh-header .header-content-container .mobile-menu-toggle .nav-toggle-line {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  transition: 0.2s ease;
}
.vh-header .header-content-container .mobile-menu-toggle--active .nav-toggle-line {
  background-color: #2B2B36;
}
.vh-header .header-content-container .mobile-menu-toggle ._1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle ._2 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle ._3 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle--active ._1 {
  transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle--active ._2 {
  transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle--active ._3 {
  transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .mobile-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
  padding: 0px 20px;
  position: relative;
  top: -200vh;
  opacity: 0;
  transition: 0.3s ease;
}
.vh-header .mobile-nav-menu .header-nav-bar--mobile {
  width: 100%;
}
.vh-header .mobile-nav-menu .header-nav-bar--mobile .m-nav-item {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  display: flex;
  padding: 16px 0px;
  align-items: center;
  border-bottom: 1px solid rgba(132, 134, 138, 0.281);
}
.vh-header--mobile {
  height: 100vh;
  background: rgba(255, 255, 255, 0.8352941176);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.vh-header--mobile .mobile-nav-menu {
  opacity: 1;
  top: 0;
  animation: smoothshow 1s both;
}

@keyframes smoothshow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.vh-hero {
  position: relative;
  display: flex;
  height: 860px;
  width: 100%;
  background-color: #4053FD;
}
@media (max-width: 1380px) {
  .vh-hero {
    height: 680px;
  }
}
@media (max-width: 1080px) {
  .vh-hero {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.vh-hero::after {
  content: "";
  position: absolute;
  right: 160px;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .vh-hero::after {
    right: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-hero::after {
    right: 12px;
  }
}
@media (max-width: 480px) {
  .vh-hero::after {
    display: none;
  }
}
.vh-hero::before {
  content: "";
  position: absolute;
  left: 160px;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .vh-hero::before {
    left: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-hero::before {
    left: 12px;
  }
}
@media (max-width: 480px) {
  .vh-hero::before {
    display: none;
  }
}
.vh-hero .hero-content-container {
  display: flex;
  align-items: center;
  max-width: 1080px;
  margin: 38px auto 0px auto;
  color: #ffffff;
  gap: 80px;
  padding: 0px 24px;
}
@media (max-width: 1380px) {
  .vh-hero .hero-content-container {
    max-width: 960px;
    gap: 40px;
  }
}
@media (max-width: 1080px) {
  .vh-hero .hero-content-container {
    margin-top: 112px;
    margin-bottom: 40px;
    padding: 0px 40px;
  }
}
@media (max-width: 780px) {
  .vh-hero .hero-content-container {
    flex-direction: column;
    padding: 0px 24px;
  }
}
.vh-hero .hero-content-container .cta-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: baseline;
  justify-content: center;
  max-width: 460px;
}
@media (max-width: 1080px) {
  .vh-hero .hero-content-container .cta-container {
    max-width: 100%;
  }
}
@media (max-width: 780px) {
  .vh-hero .hero-content-container .cta-container {
    max-width: 100%;
    align-items: center;
  }
}
.vh-hero .hero-content-container .cta-container .hero-cta {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.16;
}
@media (max-width: 1080px) {
  .vh-hero .hero-content-container .cta-container .hero-cta {
    font-family: "Whyte";
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
  }
}
@media (max-width: 780px) {
  .vh-hero .hero-content-container .cta-container .hero-cta {
    text-align: center;
  }
}
.vh-hero .hero-content-container .hero-img-container {
  animation: float 6s ease-in-out infinite;
  max-width: 480px;
}
.vh-hero .hero-detail-right {
  position: absolute;
  bottom: 0;
  width: 160px;
  height: 12px;
  background-color: #ffffff;
  left: 0;
}
@media (max-width: 1380px) {
  .vh-hero .hero-detail-right {
    width: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-hero .hero-detail-right {
    width: 12px;
  }
}
@media (max-width: 480px) {
  .vh-hero .hero-detail-right {
    display: none;
  }
}
.vh-hero .hero-detail-right::after {
  position: absolute;
  content: "";
  border-top: 12px solid #4053FD;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  right: 0;
}
.vh-hero .hero-detail-left {
  position: absolute;
  bottom: 0;
  width: 160px;
  height: 12px;
  background-color: #ffffff;
  right: 0;
}
.vh-hero .hero-detail-left::after {
  position: absolute;
  content: "";
  border-top: 12px solid #4053FD;
  border-bottom: 12px solid transparent;
  border-right: 12px solid transparent;
  left: 0;
}
@media (max-width: 1380px) {
  .vh-hero .hero-detail-left {
    width: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-hero .hero-detail-left {
    width: 12px;
  }
}
@media (max-width: 480px) {
  .vh-hero .hero-detail-left {
    display: none;
  }
}

.primary-btn {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.33;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #2B2B36;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px #2B2B36;
  color: #2B2B36;
  cursor: pointer;
  transition: 0.3s ease;
}
.primary-btn:hover {
  transform: translateY(6px);
  box-shadow: 0px 0px 0px 0px #2B2B36;
}

.intro-img {
  border-radius: 900px;
  width: 120px;
  height: 120px;
  outline: 1px solid #E0E0E3;
  outline-offset: 10px;
  margin: 160px auto 32px auto;
}

.intro-text-container {
  position: relative;
  display: flex;
  margin: 0px 160px 160px 160px;
}
@media (max-width: 1380px) {
  .intro-text-container {
    margin: 0px 64px 160px 64px;
  }
}
@media (max-width: 1080px) {
  .intro-text-container {
    margin: 0px 12px 160px 12px;
  }
}
@media (max-width: 480px) {
  .intro-text-container {
    margin: 0px 0px 160px 0px;
  }
}
.intro-text-container::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #E0E0E3;
  border-radius: 0px 96px 96px 0px;
}
@media (max-width: 780px) {
  .intro-text-container::before {
    display: none;
  }
}
.intro-text-container::after {
  content: "";
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #E0E0E3;
  border-radius: 96px 0px 0px 96px;
}
@media (max-width: 780px) {
  .intro-text-container::after {
    display: none;
  }
}
.intro-text-container .intro-text {
  position: relative;
  margin: auto;
  padding: 0 20px;
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  max-width: 480px;
  text-align: center;
  color: #4A4F57;
}
@media (max-width: 1380px) {
  .intro-text-container .intro-text {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
  }
}
.intro-text-container .intro-text::before {
  content: "";
  position: absolute;
  bottom: 40%;
  left: -40%;
  width: 1px;
  height: 30%;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .intro-text-container .intro-text::before {
    left: -20%;
  }
}
@media (max-width: 780px) {
  .intro-text-container .intro-text::before {
    display: none;
  }
}
.intro-text-container .intro-text::after {
  content: "";
  position: absolute;
  bottom: 40%;
  right: -40%;
  width: 1px;
  height: 30%;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .intro-text-container .intro-text::after {
    right: -20%;
  }
}
@media (max-width: 780px) {
  .intro-text-container .intro-text::after {
    display: none;
  }
}

.vh-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vh-title-container .vh-title {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}
@media (max-width: 1380px) {
  .vh-title-container .vh-title {
    font-family: "Whyte";
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
  }
}

.vh-divider-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 24px;
}
.vh-divider-one .line1 {
  width: 40px;
  height: 1px;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .vh-divider-one .line1 {
    width: 28px;
  }
}
.vh-divider-one .line2 {
  width: 1px;
  height: 40px;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .vh-divider-one .line2 {
    height: 28px;
  }
}

.skills-grid-display {
  display: grid;
  justify-content: center;
  margin: 0 160px 160px 160px;
  border-bottom: 1px #E0E0E3 solid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1380px) {
  .skills-grid-display {
    margin: 0 64px 160px 64px;
  }
}
@media (max-width: 1080px) {
  .skills-grid-display {
    margin: 0 12px 160px 12px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 480px) {
  .skills-grid-display {
    margin: 0 0px 160px 0px;
    grid-template-columns: 1fr;
  }
}
.skills-grid-display .skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  border: 1px #E0E0E3 solid;
}
.skills-grid-display .skill-card:nth-child(1) {
  border-left: none;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-card:nth-child(1) {
    border-bottom: none;
  }
}
.skills-grid-display .skill-card:nth-child(2) {
  border-left: none;
  border-right: none;
}
.skills-grid-display .skill-card:nth-child(3) {
  border-right: none;
}
.skills-grid-display .skill-card:nth-child(5) {
  border-top: none;
  border-right: none;
  border-bottom: none;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-card:nth-child(5) {
    border-bottom: inherit;
  }
}
.skills-grid-display .skill-card:nth-child(7) {
  border-top: none;
  border-bottom: none;
}
@media (max-width: 1380px) {
  .skills-grid-display .skill-card {
    padding: 56px 0;
  }
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-card {
    padding: 40px 0;
  }
}
.skills-grid-display .skill-card .skill-img {
  max-width: 200px;
  margin-bottom: 20px;
}
@media (max-width: 1380px) {
  .skills-grid-display .skill-card .skill-img {
    max-width: 180px;
  }
}
.skills-grid-display .skill-card .skill-title {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  margin-bottom: 24px;
  text-align: center;
}
@media (max-width: 1380px) {
  .skills-grid-display .skill-card .skill-title {
    margin-bottom: 16px;
  }
}
.skills-grid-display .skill-card .skill-text {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.33;
  color: #4A4F57;
  text-align: center;
  width: 100%;
  padding: 0 32px;
}
.skills-grid-display .grid-col-span-1 {
  grid-column: span 2;
}
.skills-grid-display .grid-col-span-2 {
  grid-column: span 2;
}
.skills-grid-display .skill-display-detail-left-xl {
  margin-top: auto;
  justify-self: start;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-display-detail-left-xl {
    display: none;
  }
}
.skills-grid-display .skill-display-detail-left-lg {
  margin-top: auto;
  justify-self: start;
  display: none;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-display-detail-left-lg {
    display: block;
  }
}
@media (max-width: 480px) {
  .skills-grid-display .skill-display-detail-left-lg {
    display: none;
  }
}
.skills-grid-display .skill-display-detail-right {
  margin-top: auto;
  justify-self: end;
}
@media (max-width: 480px) {
  .skills-grid-display .skill-display-detail-right {
    display: none;
  }
}

.work-presentation-card {
  display: flex;
  justify-content: space-between;
  margin: 0 160px 160px 160px;
  border-top: 1px #E0E0E3 solid;
  border-bottom: 1px #E0E0E3 solid;
}
@media (max-width: 1380px) {
  .work-presentation-card {
    margin: 0 64px 160px 64px;
  }
}
@media (max-width: 1080px) {
  .work-presentation-card {
    margin: 0 12px 160px 12px;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .work-presentation-card {
    margin: 0 0 160px 0;
  }
}
.work-presentation-card .work-card-conntent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 48%;
  padding: 56px;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container {
    max-width: 760px;
    margin: auto;
    padding: 40px 20px;
    align-items: center;
  }
}
.work-presentation-card .work-card-conntent-container .work-card-title {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  position: relative;
  margin-bottom: 32px;
}
@media (max-width: 1380px) {
  .work-presentation-card .work-card-conntent-container .work-card-title {
    font-family: "Whyte";
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
  }
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container .work-card-title {
    text-align: center;
  }
}
.work-presentation-card .work-card-conntent-container .work-card-title::before {
  content: "";
  position: absolute;
  left: -56px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #E0E0E3;
  border-radius: 0px 96px 96px 0px;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container .work-card-title::before {
    display: none;
  }
}
.work-presentation-card .work-card-conntent-container .work-card-text {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  color: #4A4F57;
  margin-bottom: 56px;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container .work-card-text {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .work-presentation-card .work-card-conntent-container .work-card-text {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
  }
}
.work-presentation-card .work-card-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  border-left: 1px #E0E0E3 solid;
  border-right: 1px #E0E0E3 solid;
  overflow: hidden;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-img {
    width: 100%;
    height: 320px;
    border-top: 1px #E0E0E3 solid;
    border-bottom: 1px #E0E0E3 solid;
    border-left: none;
    border-right: none;
  }
}/*# sourceMappingURL=style.css.map */