*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (max-width: 0) {
  .test-class {
    background-color: red !important;
  }
}
@media (max-width: 480px) {
  .test-class {
    background-color: blue !important;
  }
}
@media (max-width: 780px) {
  .test-class {
    background-color: green !important;
  }
}
@media (max-width: 1080px) {
  .test-class {
    background-color: purple !important;
  }
}
@media (max-width: 1380px) {
  .test-class {
    background-color: orange !important;
  }
}
@media (max-width: 1400px) {
  .test-class {
    color: pink;
  }
}

@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Light.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Regular.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Medium.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Whyte";
  src: url("../assets/fonts/whyte/Whyte-Bold.woff2") format("woff2"), url("../assets/fonts/whyte/Whyte-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes hero-grid-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    background-position: 0% -100%;
    opacity: 0;
  }
}
* {
  color: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
}
html ::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #4053FD;
}
html ::selection {
  color: #ffffff;
  background: #2B2B36;
}

body {
  position: relative;
  font-family: Sans-serif;
  background-color: #ffffff;
  color: #2B2B36;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}
body::before {
  content: "";
  position: absolute;
  left: 160px;
  background-color: #E0E0E3;
  height: 100%;
  width: 1px;
  z-index: -1;
}
@media (max-width: 1380px) {
  body::before {
    left: 64px;
  }
}
@media (max-width: 1080px) {
  body::before {
    left: 12px;
  }
}
@media (max-width: 480px) {
  body::before {
    display: none;
  }
}
body::after {
  content: "";
  top: 0;
  position: absolute;
  right: 160px;
  background-color: #E0E0E3;
  height: 100%;
  width: 1px;
  z-index: -1;
}
@media (max-width: 1380px) {
  body::after {
    right: 64px;
  }
}
@media (max-width: 1080px) {
  body::after {
    right: 12px;
  }
}
@media (max-width: 480px) {
  body::after {
    display: none;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

svg {
  transition: all 0.2s ease;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2B2B36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.primary-btn {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px #E0E0E3 solid;
  transition: all 0.3s cubic-bezier(1, 0, 0.3, 1);
}
.primary-btn--hero {
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: 8px;
  border-width: 2px;
}
.primary-btn--hero .btn-text {
  color: white !important;
}
.primary-btn .btn-text {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.35;
  color: #2B2B36;
  padding: 24px 32px;
  border-right: 1px #E0E0E3 solid;
  transition: all 0.3s cubic-bezier(1, 0, 0.3, 1);
}
.primary-btn .btn-text--small {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  padding: 20px 28px;
}
.primary-btn .btn-icon-container {
  position: relative;
  padding: 32px 36px;
  overflow: hidden;
}
.primary-btn .btn-icon-container .icon-black {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.3s cubic-bezier(1, 0, 0.3, 1);
}
.primary-btn .btn-icon-container .icon-white {
  position: absolute;
  transform: translate(-250%, -50%);
  transition: all 0.3s cubic-bezier(1, 0, 0.3, 1);
}
.primary-btn .btn-icon-container .icon-white--upper-animation {
  transform: translate(-50%, -250%);
}
.primary-btn:hover {
  background-color: #2B2B36;
  outline-offset: 24px;
}
.primary-btn:hover .btn-text {
  color: #ffffff;
}
.primary-btn:hover .btn-icon-container .icon-black {
  transform: translate(250%, -50%);
}
.primary-btn:hover .btn-icon-container .icon-black--upper-animation {
  transform: translate(-50%, 250%);
}
.primary-btn:hover .btn-icon-container .icon-white {
  transform: translate(-50%, -50%);
}

.btt-btn {
  position: fixed;
  background-color: #ffffff;
  border: 1px #E0E0E3 solid;
  bottom: -100%;
  right: 0;
  padding: 24px;
  transition: all 0.3s cubic-bezier(1, 0, 0.3, 1);
  overflow: hidden;
  cursor: pointer;
}
.btt-btn .icon-black {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.3s cubic-bezier(1, 0, 0.3, 1);
}
.btt-btn .icon-white {
  position: absolute;
  transform: translate(-50%, 100%) rotate(-90deg);
  transition: all 0.3s cubic-bezier(1, 0, 0.3, 1);
}
.btt-btn:hover {
  background-color: #2B2B36;
}
.btt-btn:hover .icon-black {
  transform: translate(-50%, -200%) rotate(-90deg);
}
.btt-btn:hover .icon-white {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.btt-btn--show {
  bottom: 48px;
  right: 54px;
}
@media (max-width: 1380px) {
  .btt-btn--show {
    bottom: 40px;
    right: 40px;
  }
}
@media (max-width: 1080px) {
  .btt-btn--show {
    bottom: 20px;
    right: 28px;
  }
}
@media (max-width: 480px) {
  .btt-btn--show {
    bottom: 16px;
    right: 16px;
  }
}

.vh-divider-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 24px;
}
.vh-divider-one .line1 {
  width: 40px;
  height: 1px;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .vh-divider-one .line1 {
    width: 28px;
  }
}
.vh-divider-one .line2 {
  width: 1px;
  height: 40px;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .vh-divider-one .line2 {
    height: 28px;
  }
}
.vh-divider-one--reverse {
  transform: rotate(180deg);
}

.border-details {
  display: flex;
  z-index: 2;
}
.border-details--footer span:nth-child(n+1) {
  background-color: #2B2B36;
  margin-top: 52px;
}
.border-details .hero-detail-right {
  display: block;
  width: 160px;
  height: 12px;
  background-color: #ffffff;
  clip-path: polygon(92% 0%, 100% 102%, 0% 102%, 0 0%);
}
@media (max-width: 1380px) {
  .border-details .hero-detail-right {
    width: 64px;
    clip-path: polygon(78% 0%, 100% 106%, 0% 106%, 0 0%);
  }
}
@media (max-width: 1080px) {
  .border-details .hero-detail-right {
    width: 12px;
    clip-path: polygon(0% 0%, 100% 102%, 0% 102%, 0 0%);
  }
}
@media (max-width: 480px) {
  .border-details .hero-detail-right {
    display: none;
  }
}
.border-details .hero-detail-left {
  display: block;
  margin-left: auto;
  width: 160px;
  height: 12px;
  background-color: #ffffff;
  clip-path: polygon(100% 0%, 100% 102%, 0% 102%, 8% 0%);
}
@media (max-width: 1380px) {
  .border-details .hero-detail-left {
    width: 64px;
    clip-path: polygon(100% 0%, 100% 106%, 0% 106%, 22% 0%);
  }
}
@media (max-width: 1080px) {
  .border-details .hero-detail-left {
    width: 12px;
    clip-path: polygon(100% 0%, 100% 102%, 0% 102%, 100% 0%);
  }
}
@media (max-width: 480px) {
  .border-details .hero-detail-left {
    display: none;
  }
}

.animated-line {
  position: absolute;
  right: 0px;
  bottom: -100%;
  height: 120px;
  width: 1px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  animation: herolines 6s 0s infinite;
}
.animated-line:nth-child(5) {
  right: -14%;
  animation-delay: 3s;
}
.animated-line:nth-child(6) {
  right: -22%;
  animation-delay: 4s;
}
.animated-line:nth-child(3) {
  left: 0px;
  animation-delay: 1s;
}
.animated-line:nth-child(4) {
  left: -14%;
  animation-delay: 2s;
}
.animated-line:nth-child(7) {
  left: -22%;
  animation-delay: 5s;
}

@keyframes herolines {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 140%;
    opacity: 0;
  }
}
.project-page-lines {
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  height: 100%;
  max-width: 1080px;
  margin: auto;
  z-index: -100;
  border-left: 1px #E0E0E3 solid;
  border-right: 1px #E0E0E3 solid;
}
@media (max-width: 1520px) {
  .project-page-lines {
    display: none;
  }
}

.vh-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: auto;
}
.vh-title-container .vh-title {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
  width: 100%;
}
.vh-title-container .vh-title--left {
  text-align: left;
  margin: 120px auto 48px auto;
}
@media (max-width: 780px) {
  .vh-title-container .vh-title--left {
    padding: 0 32px;
  }
}
@media (max-width: 480px) {
  .vh-title-container .vh-title--left {
    padding: 0 20px;
  }
}
@media (max-width: 1380px) {
  .vh-title-container .vh-title {
    font-family: "Whyte";
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -1px;
  }
}
.vh-title-container .subtitle-text {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  color: #4A4F57;
  max-width: 480px;
  margin: 16px 0 32px 0;
}
@media (max-width: 480px) {
  .vh-title-container .subtitle-text {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
    padding: 0 20px;
  }
}
.vh-title-container .primary-btn {
  margin-bottom: 24px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0px 160px 0 160px;
}
@media (max-width: 1380px) {
  .text-block {
    margin: 0px 64px 0 64px;
  }
}
@media (max-width: 1080px) {
  .text-block {
    margin: 0px 12px 0 12px;
  }
}
@media (max-width: 480px) {
  .text-block {
    margin: 0px 0px 0 0px;
  }
}
.text-block .text {
  color: #4A4F57;
  max-width: 640px;
  margin: auto;
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
}
@media (max-width: 780px) {
  .text-block .text {
    padding: 0 32px;
  }
}
@media (max-width: 480px) {
  .text-block .text {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
    padding: 0 20px;
  }
}

.text-list-container {
  margin: 48px 160px 48px 160px;
}
@media (max-width: 1380px) {
  .text-list-container {
    margin: 48px 64px 48px 64px;
  }
}
@media (max-width: 1080px) {
  .text-list-container {
    margin: 48px 12px 48px 12px;
  }
}
@media (max-width: 480px) {
  .text-list-container {
    margin: 48px 0 48px 0;
  }
}
.text-list-container .list {
  max-width: 640px;
  margin: auto;
  list-style-type: disc;
}
@media (max-width: 780px) {
  .text-list-container .list {
    padding: 0 32px;
  }
}
@media (max-width: 480px) {
  .text-list-container .list {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
    padding: 0 20px;
  }
}
.text-list-container .list .list-item {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  color: #4A4F57;
  margin-left: 24px;
}
.text-list-container .list .list-item:not(:first-child) {
  margin-top: 14px;
}

.sections-cards-container {
  display: flex;
  margin: auto;
  max-width: 1080px;
  border-top: 1px #E0E0E3 solid;
  border-bottom: 1px #E0E0E3 solid;
  margin-bottom: 200px;
}
.sections-cards-container .section-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;
  padding: 48px;
  background-position: right -20% top 20%;
  background-size: 244px;
  background-repeat: no-repeat;
}
.sections-cards-container .section-card:first-child {
  border-right: 1px #E0E0E3 solid;
  background-image: url("/assets/images/ux-skill.png");
}
.sections-cards-container .section-card:last-child {
  background-image: url("/assets/images/ui-skill.png");
}
.sections-cards-container .section-card .section-title {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -1px;
}
.sections-cards-container .section-card .section-list .section-list-item {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
}

.vh-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 72px;
  padding: 16px 0px;
  transition: all 0.3s ease;
  z-index: 3;
  animation: smoothshow 2s both;
}
.vh-header .header-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  padding: 0 32px;
  margin: auto;
  transition: all 0.3s ease;
}
@media (max-width: 1520px) {
  .vh-header .header-content-container {
    max-width: 1080px;
  }
}
@media (max-width: 1200px) {
  .vh-header .header-content-container {
    max-width: 960px;
  }
}
@media (max-width: 1080px) {
  .vh-header .header-content-container {
    padding: 0px 44px;
  }
}
@media (max-width: 780px) {
  .vh-header .header-content-container {
    padding: 0 32px;
  }
}
@media (max-width: 480px) {
  .vh-header .header-content-container {
    padding: 0px 20px;
  }
}
.vh-header .header-content-container .logo-img {
  max-width: 96px;
}
.vh-header .header-content-container .vh-nav-bar--header {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 780px) {
  .vh-header .header-content-container .vh-nav-bar--header {
    display: none;
  }
}
.vh-header .header-content-container .vh-nav-bar--header .nav-item {
  position: relative;
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ffffff;
  transition: all 0.2s linear;
}
.vh-header .header-content-container .vh-nav-bar--header .nav-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  height: 1px;
  width: 32%;
  background-color: #ffffff;
  opacity: 0.2;
  transition: all 0.2s linear;
}
.vh-header .header-content-container .vh-nav-bar--header .nav-item:hover::after {
  width: 100%;
  opacity: 1;
}
.vh-header .header-content-container .vh-nav-bar--header .nav-divider {
  height: 12px;
  width: 1px;
  background-color: #ffffff;
  opacity: 0.2;
}
.vh-header .header-content-container .mobile-menu-toggle {
  display: flex;
  gap: 2px;
  width: 40px;
  height: 40px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 780px) {
  .vh-header .header-content-container .mobile-menu-toggle {
    display: flex;
  }
}
.vh-header .header-content-container .mobile-menu-toggle .nav-toggle-line {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  transition: 0.2s ease;
}
.vh-header .header-content-container .mobile-menu-toggle--active .nav-toggle-line {
  background-color: #2B2B36;
}
.vh-header .header-content-container .mobile-menu-toggle ._1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle ._2 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle ._3 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle--active ._1 {
  transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle--active ._2 {
  transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .header-content-container .mobile-menu-toggle--active ._3 {
  transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.vh-header .mobile-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
  padding: 0px 20px;
  position: relative;
  top: -200vh;
  opacity: 0;
  transition: 0.3s ease;
}
.vh-header .mobile-nav-menu .header-nav-bar--mobile {
  width: 100%;
}
.vh-header .mobile-nav-menu .header-nav-bar--mobile .m-nav-item {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  display: flex;
  padding: 16px 0px;
  align-items: center;
  border-bottom: 1px solid rgba(132, 134, 138, 0.281);
}
.vh-header--mobile {
  height: 100vh;
  background: rgba(255, 255, 255, 0.8352941176);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.vh-header--mobile .mobile-nav-menu {
  opacity: 1;
  top: 0;
  animation: smoothshow 1s both;
}
.vh-header--scroll-mode {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-bottom: 1px #E0E0E3 solid;
}
.vh-header--scroll-mode .header-content-container {
  max-width: 100%;
  padding: 0 192px;
}
@media (max-width: 1380px) {
  .vh-header--scroll-mode .header-content-container {
    padding: 0 96px;
  }
}
@media (max-width: 1080px) {
  .vh-header--scroll-mode .header-content-container {
    padding: 0 32px;
  }
}
@media (max-width: 480px) {
  .vh-header--scroll-mode .header-content-container {
    padding: 0 20px;
  }
}
.vh-header--scroll-mode .header-content-container .vh-nav-bar--header .nav-item {
  color: #2B2B36;
  font-weight: 400;
}
.vh-header--scroll-mode .header-content-container .vh-nav-bar--header .nav-item::after {
  background-color: #4A4F57;
  opacity: 0.2;
}
.vh-header--scroll-mode .header-content-container .vh-nav-bar--header .nav-item:hover::after {
  opacity: 1;
}
.vh-header--scroll-mode .header-content-container .vh-nav-bar--header .nav-divider {
  background-color: #4A4F57;
  opacity: 0.2;
}
.vh-header--scroll-mode .mobile-menu-toggle .nav-toggle-line {
  background-color: #2B2B36 !important;
}

@keyframes smoothshow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.vh-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(-45deg, #FDEA3F, #FF4040, #4053FD, #4053FD);
  background-size: 400% 200%;
  animation: gradient 10s ease-in-out infinite;
  overflow: hidden;
}
.vh-hero::after {
  content: "";
  position: absolute;
  right: 160px;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .vh-hero::after {
    right: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-hero::after {
    right: 12px;
  }
}
@media (max-width: 480px) {
  .vh-hero::after {
    display: none;
  }
}
.vh-hero::before {
  content: "";
  position: absolute;
  left: 160px;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .vh-hero::before {
    left: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-hero::before {
    left: 12px;
  }
}
@media (max-width: 480px) {
  .vh-hero::before {
    display: none;
  }
}
.vh-hero .hero-content-container {
  display: flex;
  align-items: center;
  margin: 180px auto 120px auto;
  color: #ffffff;
  gap: 80px;
  padding: 0 24px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1520px) {
  .vh-hero .hero-content-container {
    max-width: 1080px;
    margin: 156px auto 72px auto;
    gap: 56px;
  }
}
@media (max-width: 1200px) {
  .vh-hero .hero-content-container {
    flex-direction: column;
    max-width: 720px;
    gap: 80px;
  }
}
@media (max-width: 780px) {
  .vh-hero .hero-content-container {
    max-width: 100%;
    padding: 0 32px;
  }
}
@media (max-width: 480px) {
  .vh-hero .hero-content-container {
    margin: 112px auto 52px auto;
    padding: 0 24px;
  }
}
.vh-hero .hero-content-container .cta-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 520px;
}
@media (max-width: 1200px) {
  .vh-hero .hero-content-container .cta-container {
    max-width: 100%;
    align-items: center;
  }
}
.vh-hero .hero-content-container .cta-container .hero-cta {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.16;
  letter-spacing: -2px;
  font-size: 5.6rem;
}
@media (max-width: 1520px) {
  .vh-hero .hero-content-container .cta-container .hero-cta {
    font-size: 5.2rem;
  }
}
@media (max-width: 1200px) {
  .vh-hero .hero-content-container .cta-container .hero-cta {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .vh-hero .hero-content-container .cta-container .hero-cta {
    font-family: "Whyte";
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -1px;
  }
}
.vh-hero .hero-content-container .hero-img-container {
  position: relative;
  animation: float 4s ease-in-out infinite;
  max-width: 520px;
}
.vh-hero .hero-content-container .hero-img-container .hero-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  animation: imgfade 10s infinite;
}
.vh-hero .hero-grid-bg-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1529411765) 1px, transparent 1px), linear-gradient(to right, rgba(255, 255, 255, 0.1529411765) 1px, transparent 1px);
  background-size: 88px 88px;
  animation: hero-grid-animation 8s infinite ease;
}

@keyframes imgfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  outline: 1px solid #E0E0E3;
  outline-offset: 10px;
  margin: 160px auto 32px auto;
  background: linear-gradient(-45deg, #FDEA3F, #FF4040, #4053FD, #4053FD);
  background-size: 400% 200%;
  animation: gradient 10s ease-in-out infinite;
}

.intro-text-container {
  position: relative;
  display: flex;
  margin: 0px 160px 160px 160px;
}
@media (max-width: 1380px) {
  .intro-text-container {
    margin: 0px 64px 160px 64px;
  }
}
@media (max-width: 1080px) {
  .intro-text-container {
    margin: 0px 12px 160px 12px;
  }
}
@media (max-width: 480px) {
  .intro-text-container {
    margin: 0px 0px 160px 0px;
  }
}
.intro-text-container::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #E0E0E3;
  border-radius: 0px 96px 96px 0px;
}
@media (max-width: 780px) {
  .intro-text-container::before {
    display: none;
  }
}
.intro-text-container::after {
  content: "";
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #E0E0E3;
  border-radius: 96px 0px 0px 96px;
}
@media (max-width: 780px) {
  .intro-text-container::after {
    display: none;
  }
}
.intro-text-container .intro-text {
  position: relative;
  margin: auto;
  padding: 0 20px;
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  max-width: 480px;
  text-align: center;
  color: #4A4F57;
}
@media (max-width: 1380px) {
  .intro-text-container .intro-text {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
  }
}
@media (max-width: 480px) {
  .intro-text-container .intro-text {
    padding: 0 40px;
  }
}
.intro-text-container .intro-text::before {
  content: "";
  position: absolute;
  bottom: 40%;
  left: -40%;
  width: 1px;
  height: 30%;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .intro-text-container .intro-text::before {
    left: -20%;
  }
}
@media (max-width: 780px) {
  .intro-text-container .intro-text::before {
    display: none;
  }
}
.intro-text-container .intro-text::after {
  content: "";
  position: absolute;
  bottom: 40%;
  right: -40%;
  width: 1px;
  height: 30%;
  background-color: #E0E0E3;
}
@media (max-width: 1380px) {
  .intro-text-container .intro-text::after {
    right: -20%;
  }
}
@media (max-width: 780px) {
  .intro-text-container .intro-text::after {
    display: none;
  }
}

.skills-grid-display {
  display: grid;
  justify-content: center;
  margin: 0 160px 160px 160px;
  border-bottom: 1px #E0E0E3 solid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1380px) {
  .skills-grid-display {
    margin: 0 64px 160px 64px;
  }
}
@media (max-width: 1080px) {
  .skills-grid-display {
    margin: 0 12px 160px 12px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 480px) {
  .skills-grid-display {
    margin: 0 0px 160px 0px;
    grid-template-columns: 1fr;
  }
}
.skills-grid-display .skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  border: 1px #E0E0E3 solid;
}
.skills-grid-display .skill-card:nth-child(1) {
  border-left: none;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-card:nth-child(1) {
    border-bottom: none;
  }
}
.skills-grid-display .skill-card:nth-child(2) {
  border-left: none;
  border-right: none;
}
.skills-grid-display .skill-card:nth-child(3) {
  border-right: none;
}
.skills-grid-display .skill-card:nth-child(5) {
  border-top: none;
  border-right: none;
  border-bottom: none;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-card:nth-child(5) {
    border-bottom: inherit;
  }
}
.skills-grid-display .skill-card:nth-child(7) {
  border-top: none;
  border-bottom: none;
}
@media (max-width: 1380px) {
  .skills-grid-display .skill-card {
    padding: 56px 0;
  }
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-card {
    padding: 40px 0;
  }
}
.skills-grid-display .skill-card .skill-img {
  max-width: 200px;
  margin-bottom: 20px;
}
@media (max-width: 1380px) {
  .skills-grid-display .skill-card .skill-img {
    max-width: 180px;
  }
}
.skills-grid-display .skill-card .skill-title {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -1px;
  margin-bottom: 24px;
  text-align: center;
}
@media (max-width: 1380px) {
  .skills-grid-display .skill-card .skill-title {
    margin-bottom: 16px;
  }
}
.skills-grid-display .skill-card .skill-text {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  color: #4A4F57;
  text-align: center;
  max-width: 360px;
  padding: 0 24px;
}
@media (max-width: 480px) {
  .skills-grid-display .skill-card .skill-text {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
    max-width: 100%;
    padding: 0 40px;
  }
}
.skills-grid-display .grid-col-span-1 {
  grid-column: span 2;
}
.skills-grid-display .grid-col-span-2 {
  grid-column: span 2;
}
.skills-grid-display .skill-display-detail-left-xl {
  margin-top: auto;
  justify-self: start;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-display-detail-left-xl {
    display: none;
  }
}
.skills-grid-display .skill-display-detail-left-lg {
  margin-top: auto;
  justify-self: start;
  display: none;
}
@media (max-width: 1080px) {
  .skills-grid-display .skill-display-detail-left-lg {
    display: block;
  }
}
@media (max-width: 480px) {
  .skills-grid-display .skill-display-detail-left-lg {
    display: none;
  }
}
.skills-grid-display .skill-display-detail-right {
  margin-top: auto;
  justify-self: end;
}
@media (max-width: 480px) {
  .skills-grid-display .skill-display-detail-right {
    display: none;
  }
}

.work-presentation-card {
  display: flex;
  justify-content: space-between;
  margin: 0 160px 160px 160px;
  border-top: 1px #E0E0E3 solid;
  border-bottom: 1px #E0E0E3 solid;
}
.work-presentation-card--last-one {
  margin-bottom: 80px !important;
}
@media (max-width: 1380px) {
  .work-presentation-card {
    margin: 0 64px 160px 64px;
  }
}
@media (max-width: 1080px) {
  .work-presentation-card {
    margin: 0 12px 160px 12px;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .work-presentation-card {
    margin: 0 0 160px 0;
  }
}
.work-presentation-card .work-card-conntent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 46%;
  padding: 56px;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container {
    max-width: 760px;
    margin: auto;
    padding: 40px 20px;
    align-items: center;
  }
}
.work-presentation-card .work-card-conntent-container .work-card-title {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  position: relative;
  margin-bottom: 32px;
}
@media (max-width: 1380px) {
  .work-presentation-card .work-card-conntent-container .work-card-title {
    font-family: "Whyte";
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -1px;
  }
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container .work-card-title {
    text-align: center;
  }
}
.work-presentation-card .work-card-conntent-container .work-card-title::before {
  content: "";
  position: absolute;
  left: -56px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #E0E0E3;
  border-radius: 0px 96px 96px 0px;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container .work-card-title::before {
    display: none;
  }
}
.work-presentation-card .work-card-conntent-container .work-card-text {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  color: #4A4F57;
  margin-bottom: 56px;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-conntent-container .work-card-text {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .work-presentation-card .work-card-conntent-container .work-card-text {
    font-family: "Whyte";
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.33;
  }
}
.work-presentation-card .work-card-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  border-left: 1px #E0E0E3 solid;
  border-right: 1px #E0E0E3 solid;
  overflow: hidden;
}
@media (max-width: 1080px) {
  .work-presentation-card .work-card-img {
    width: 100%;
    height: 320px;
    border-top: 1px #E0E0E3 solid;
    border-bottom: 1px #E0E0E3 solid;
    border-left: none;
    border-right: none;
  }
}
.work-presentation-card--reverse {
  flex-direction: row-reverse;
  justify-content: start;
}
@media (max-width: 1080px) {
  .work-presentation-card--reverse {
    flex-direction: column;
  }
}

.vh-footer {
  position: relative;
  background-color: #2B2B36;
  background-image: url("../assets/images/footer-divider.svg");
  background-position: top;
  background-repeat: no-repeat;
}
@media (max-width: 1080px) {
  .vh-footer {
    background-image: url("../assets/images/footer-divider-mobile.svg");
    background-position-y: 168px;
  }
}
@media (max-width: 1080px) and (max-width: 480px) {
  .vh-footer {
    background-position-y: 196px;
  }
}
.vh-footer::before {
  content: "";
  position: absolute;
  left: 160px;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .vh-footer::before {
    left: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-footer::before {
    left: 12px;
  }
}
@media (max-width: 480px) {
  .vh-footer::before {
    display: none;
  }
}
.vh-footer::after {
  content: "";
  position: absolute;
  right: 160px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .vh-footer::after {
    right: 64px;
  }
}
@media (max-width: 1080px) {
  .vh-footer::after {
    right: 12px;
  }
}
@media (max-width: 480px) {
  .vh-footer::after {
    display: none;
  }
}
.vh-footer .footer-content-container {
  display: flex;
  justify-content: space-between;
  margin: 0 160px;
  color: #ffffff;
}
@media (max-width: 1380px) {
  .vh-footer .footer-content-container {
    margin: 0 64px;
  }
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container {
    margin: 0 12px;
    flex-direction: column;
    align-items: center;
    padding: 96px 24px;
    gap: 400px;
  }
}
@media (max-width: 480px) {
  .vh-footer .footer-content-container {
    margin: 0;
  }
}
.vh-footer .footer-content-container .personal-info-container {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 96px 0 96px 56px;
  gap: 40px;
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container .personal-info-container {
    margin: 0;
    align-items: center;
  }
}
.vh-footer .footer-content-container .personal-info-container .name-and-img {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}
.vh-footer .footer-content-container .personal-info-container .name-and-img::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: -56px;
  background-color: #4A4F57;
  border-radius: 0 96px 96px 0;
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container .personal-info-container .name-and-img::before {
    display: none;
  }
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container .personal-info-container .name-and-img {
    flex-direction: column;
  }
}
.vh-footer .footer-content-container .personal-info-container .name-and-img .profile-img {
  border-radius: 900px;
  width: 96px;
  height: 96px;
  outline: 1px solid #4A4F57;
  outline-offset: 6px;
  background: linear-gradient(-45deg, #FDEA3F, #FF4040, #4053FD, #4053FD);
  background-size: 400% 200%;
  animation: gradient 10s ease-in-out infinite;
}
.vh-footer .footer-content-container .personal-info-container .name-and-img .name-container {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.vh-footer .footer-content-container .personal-info-container .name-and-img .name-container .name {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -1px;
  line-height: none;
}
.vh-footer .footer-content-container .personal-info-container .name-and-img .name-container .footer-detail {
  transform: translateY(2px);
  display: none;
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container .personal-info-container .name-and-img .name-container .footer-detail {
    display: block;
  }
}
.vh-footer .footer-content-container .personal-info-container .name-and-img .name-container .footer-detail:nth-child(1) {
  transform: scale(-1, 1);
}
.vh-footer .footer-content-container .personal-info-container .name-and-img .name-container .footer-detail:nth-child(3) {
  display: block;
}
.vh-footer .footer-content-container .personal-info-container .footer-description {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  opacity: 0.6;
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container .personal-info-container .footer-description {
    text-align: center;
  }
}
.vh-footer .footer-content-container .personal-info-container .copyrights {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7;
  opacity: 0.2;
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container .personal-info-container .copyrights {
    display: none;
  }
}
.vh-footer .footer-content-container .cv-and-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  gap: 56px;
}
@media (max-width: 1380px) {
  .vh-footer .footer-content-container .cv-and-social-container {
    margin-right: 5%;
  }
}
@media (max-width: 1080px) {
  .vh-footer .footer-content-container .cv-and-social-container {
    margin: 0;
  }
}
.vh-footer .footer-content-container .cv-and-social-container .cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.vh-footer .footer-content-container .cv-and-social-container .cv-container .cv-title {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.33;
}
.vh-footer .footer-content-container .cv-and-social-container .social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.vh-footer .footer-content-container .cv-and-social-container .social-media-container .social-media-title {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.33;
}
.vh-footer .footer-content-container .cv-and-social-container .social-media-container .social-media-icons-container {
  display: flex;
  gap: 20px;
}

.project-intro-hero {
  display: flex;
  background-color: #126E64;
  margin-bottom: 120px;
}
.project-intro-hero::after {
  content: "";
  position: absolute;
  right: 160px;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .project-intro-hero::after {
    right: 64px;
  }
}
@media (max-width: 1080px) {
  .project-intro-hero::after {
    right: 12px;
  }
}
@media (max-width: 480px) {
  .project-intro-hero::after {
    display: none;
  }
}
.project-intro-hero::before {
  content: "";
  position: absolute;
  left: 160px;
  background-color: rgba(255, 255, 255, 0.151);
  height: 100%;
  width: 1px;
}
@media (max-width: 1380px) {
  .project-intro-hero::before {
    left: 64px;
  }
}
@media (max-width: 1080px) {
  .project-intro-hero::before {
    left: 12px;
  }
}
@media (max-width: 480px) {
  .project-intro-hero::before {
    display: none;
  }
}
.project-intro-hero .hero-content-container {
  display: flex;
  margin: 180px auto auto auto;
  color: #ffffff;
  gap: 80px;
  padding: 0 24px;
  z-index: 2;
}
@media (max-width: 1520px) {
  .project-intro-hero .hero-content-container {
    max-width: 1080px;
    margin: 156px auto auto auto;
    gap: 56px;
  }
}
@media (max-width: 1200px) {
  .project-intro-hero .hero-content-container {
    flex-direction: column;
    max-width: 720px;
    gap: 80px;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .project-intro-hero .hero-content-container {
    margin: 112px auto auto auto;
    padding: 0 24px;
  }
}
.project-intro-hero .hero-content-container .title-and-index-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 520px;
}
@media (max-width: 1200px) {
  .project-intro-hero .hero-content-container .title-and-index-container {
    max-width: 100%;
    align-items: center;
  }
}
.project-intro-hero .hero-content-container .title-and-index-container .hero-cta {
  font-family: "Whyte";
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.16;
  letter-spacing: -2px;
  font-size: 5.6rem;
}
@media (max-width: 1200px) {
  .project-intro-hero .hero-content-container .title-and-index-container .hero-cta {
    text-align: center;
  }
}
@media (max-width: 780px) {
  .project-intro-hero .hero-content-container .title-and-index-container .hero-cta {
    font-family: "Whyte";
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -1px;
  }
}
.project-intro-hero .hero-content-container .title-and-index-container .project-index {
  display: flex;
  align-items: center;
  gap: 6px;
}
.project-intro-hero .hero-content-container .title-and-index-container .project-index .index-link {
  font-family: "Whyte";
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}
.project-intro-hero .hero-content-container .title-and-index-container .project-index .index-link:first-child {
  font-family: "Whyte";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #6EFCD0;
}
.project-intro-hero .hero-content-container .title-and-index-container .project-index .index-arrow-icon {
  width: 16px;
}/*# sourceMappingURL=style.css.map */