@use "../styles" as *;

.primary-btn {
    @include body-bold;
    display: flex;
    width:fit-content;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid $h-black;
    background: $h-white;
    box-shadow: 0px 4px 0px 0px $h-black;
    color: $h-black;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        transform: translateY(6px);
        box-shadow: 0px 0px 0px 0px $h-black;
    }

    &--btt {
        position: fixed;
        bottom: -100%;
        right: 0;
        padding: 12px;
        border-radius: 900px;

        @include md {
            padding: 10px;
        }

        .arrow-up-icon {
            @include md {
                max-width: 20px;
            }
        }
    }

    &--btt---show {
        bottom: 48px;
        right: 54px;

        @include xl {
            bottom: 40px;
            right: 40px;
        }

        @include lg {
            bottom: 20px;
            right: 28px;
        }

        @include sm {
            bottom: 16px;
            right: 16px;
        }
    }
}