@use "../styles" as *;

.primary-btn {
    @include body-bold;
    display: flex;
    width:fit-content;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid $h-black;
    background: $h-white;
    box-shadow: 0px 4px 0px 0px $h-black;
    color: $h-black;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        transform: translateY(6px);
        box-shadow: 0px 0px 0px 0px $h-black;
    }
}