@use "../styles" as *;


.hero {

    background-color: $h-accent-blue;
    height: 600px;
    display: flex;

    h1 {
        @include H1-bold;
        color: white;
        margin: auto;
        max-width: 600px;
    }
}


.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
    margin: auto;
    padding-top: 80px;

    h2 {
        @include H2-bold;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        gap: 16px;


        p {
            @include body--large;
        
        }
    }

}