@use "../styles" as *;

// Primary-button
.primary-btn {
    background-color: $h-white;
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px $h-border solid;
    transition: all .3s cubic-bezier(1, 0, .3, 1);

    &--hero {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(24px);
        outline: 1px solid rgba(255, 255, 255, 0.2);
        outline-offset: 8px;
        border-width: 2px;

        .btn-text {
            color: white !important;
        }

    }

    .btn-text {
        @include H4-bold;
        color: $h-black;
        padding: 24px 32px;
        border-right: 1px $h-border solid;
        transition: all .3s cubic-bezier(1, 0, .3, 1);

        &--small {
            @include body--large-bold;
            padding: 20px 28px;
        }
    }

    .btn-icon-container {
        position: relative;
        padding: 32px 36px;
        overflow: hidden;

        .icon-black {
            position: absolute;
            transform: translate(-50%, -50%);
            transition: all .3s cubic-bezier(1, 0, .3, 1);
        }

        .icon-white {
            position: absolute;
            transform: translate(-250%, -50%);
            transition: all .3s cubic-bezier(1, 0, .3, 1);

            &--upper-animation {
                transform: translate(-50%, -250%);
            }
        }
    }

    &:hover {
        background-color: $h-black;
        outline-offset: 24px;

        .btn-text {
            color: $h-white;
        }

        .btn-icon-container {
            .icon-black {
                transform: translate(250%, -50%);

                &--upper-animation {
                    transform: translate(-50%, 250%);
                }
            }

            .icon-white {
                transform: translate(-50%, -50%);
            }
        }
    }
}

// back to top button
.btt-btn {
    position: fixed;
    background-color: $h-white;
    border: 1px $h-border solid;
    bottom: -100%;
    right: 0;
    padding: 24px;
    transition: all .3s cubic-bezier(1, 0, .3, 1);
    overflow: hidden;
    cursor: pointer;

    .icon-black {
        position: absolute;
        transform: translate(-50%, -50%) rotate(-90deg);
        transition: all .3s cubic-bezier(1, 0, .3, 1);
    }

    .icon-white {
        position: absolute;
        transform: translate(-50%, 100%) rotate(-90deg);
        transition: all .3s cubic-bezier(1, 0, .3, 1);
    }

    &:hover {
        background-color: $h-black;

        .icon-black {
            transform: translate(-50%, -200%) rotate(-90deg);
        }

        .icon-white {
            transform: translate(-50%, -50%) rotate(-90deg);
        }

    }


    &--show {
        bottom: 48px;
        right: 54px;

        @include xl {
            bottom: 40px;
            right: 40px;
        }

        @include lg {
            bottom: 20px;
            right: 28px;
        }

        @include sm {
            bottom: 16px;
            right: 16px;
        }
    }
}

//Divider
.vh-divider-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 24px;

    .line1 {
        width: 40px;
        height: 1px;
        background-color: $h-border;

        @include xl {
            width: 28px;
        }
    }

    .line2 {
        width: 1px;
        height: 40px;
        background-color: $h-border;

        @include xl {
            height: 28px;
        }
    }

    &--reverse {
        transform: rotate(180deg);
    }
}

// Corte das bordas (Hero e footer)
.border-details {
    display: flex;
    z-index: 2;

    &--footer span:nth-child(n+1) {
        background-color: $h-black;
        margin-top: 52px;
    }

    .hero-detail-right {
        display: block;
        width: 160px;
        height: 12px;
        background-color: $h-white;
        clip-path: polygon(92% 0%, 100% 102%, 0% 102%, 0 0%);

        @include xl {
            width: 64px;
            clip-path: polygon(78% 0%, 100% 106%, 0% 106%, 0 0%);
        }

        @include lg {
            width: 12px;
            clip-path: polygon(0% 0%, 100% 102%, 0% 102%, 0 0%);
        }

        @include sm {
            display: none;
        }
    }

    .hero-detail-left {
        display: block;
        margin-left: auto;
        width: 160px;
        height: 12px;
        background-color: $h-white;
        clip-path: polygon(100% 0%, 100% 102%, 0% 102%, 8% 0%);

        @include xl {
            width: 64px;
            clip-path: polygon(100% 0%, 100% 106%, 0% 106%, 22% 0%);
        }

        @include lg {
            width: 12px;
            clip-path: polygon(100% 0%, 100% 102%, 0% 102%, 100% 0%);
        }

        @include sm {
            display: none;
        }
    }
}


// Hero animated line
.animated-line {
    position: absolute;
    right: 0px;
    bottom: -100%;
    height: 120px;
    width: 1px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, ));
    animation: herolines 6s 0s infinite;

    &:nth-child(5) {
        right: -14%;
        animation-delay: 3s;
    }

    &:nth-child(6) {
        right: -22%;
        animation-delay: 4s;
    }

    &:nth-child(3) {
        left: 0px;
        animation-delay: 1s;
    }

    &:nth-child(4) {
        left: -14%;
        animation-delay: 2s;
    }

    &:nth-child(7) {
        left: -22%;
        animation-delay: 5s;
    }

}

@keyframes herolines {
    0% {
        bottom: -50%;
    }

    100% {
        bottom: 140%;
        opacity: .0;
    }
}

// project page lines
.project-page-lines {
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    height: 100%;
    max-width: 1080px;
    margin: auto;
    z-index: -100;
    border-left: 1px $h-border solid;
    border-right: 1px $h-border solid;

    @include breakpoint(1520px) {
        display: none;
    }
}


// Titles
.vh-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    margin: auto;

    .vh-title {
        @include H2-bold;
        text-align: center;
        width: 100%;

        &--left {
            text-align: left;
            margin: 120px auto 48px auto;

            @include md {
                padding: 0 32px;
                margin-top: 80px;
            }

            @include sm {
                padding: 0 20px;
            }
        }

        @include xl {
            @include H3-bold;
        }
    }

    .subtitle-text {
        @include body--large;
        text-align: center;
        color: $h-gray ;
        max-width: 480px;
        margin: 16px 0 32px 0;

        @include sm {
            @include body;
            padding: 0 20px;
        }
    }

    .primary-btn {
        margin-bottom: 24px;
    }
}



// Blocos de texto
.text-block {
    max-width: 1080px;
    margin: auto;

    @include breakpoint(1520px) {
        max-width: 100%;
        margin: 0 160px 0 160px;
    }

    @include xl {
        margin: 0 64px 0 64px;
    }

    @include lg {
        margin: 0 12px 0 12px;
    }

    @include sm {
        margin: 0;
    }

    .text {
        color: $h-gray ;
        max-width: 640px;
        margin: auto;
        @include body--large;

        &:not(:first-child) {
            margin-top: 48px;
        }

        @include md {
            padding: 0 32px;
        }

        @include sm {
            @include body;
            padding: 0 20px;
        }
    }
}

// Lista
.text-list-container {
    margin: 48px auto;
    max-width: 1080px;

    @include breakpoint(1520px) {
        max-width: 100%;
        margin: 48px 160px 48px 160px;
    }

    @include xl {
        margin: 48px 64px 48px 64px;
    }

    @include lg {
        margin: 48px 12px 48px 12px;
    }

    @include sm {
        margin: 48px 0 48px 0;
    }

    .list {
        max-width: 640px;
        margin: auto;
        list-style-type: disc;
        padding-inline-start: 24px;

        @include md {
            padding: 0 32px;
        }

        @include sm {
            @include body;
            padding: 0 20px;
        }

        .list-item {
            @include body--large;
            color: $h-gray ;

            @include md {
                margin-left: 24px;
            }

            @include sm {
                @include body;
            }

            &:not(:first-child) {
                margin-top: 14px;
            }
        }
    }
}

// Sections cards
.sections-cards-container {
    display: flex;
    margin: auto;
    max-width: 1080px;
    border-top: 1px $h-border solid;
    border-bottom: 1px $h-border solid;
    margin-bottom: 80px;

    @include breakpoint(1520px) {
        max-width: 100%;
        margin: 0 160px 80px 160px;
    }

    @include breakpoint(1200px) {
        flex-direction: column;
    }

    @include xl {
        margin: 0 64px 80px 64px;
    }

    @include lg {
        margin: 0 12px 80px 12px;
    }

    @include sm {
        margin: 0 0 80px 0;
    }

    .section-card {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 40px;
        padding: 48px;
        background-position: right -20% top 20%;
        background-size: 244px;
        background-repeat: no-repeat;

        @include breakpoint(1200px) {
            width: 100%;
            background-position: right -6% bottom 10%;
        }

        @include md {
            padding: 32px;
            background-position: right -10% bottom 10%;
        }

        @include sm {
            background-size: 0px;
        }

        &:first-child {
            border-right: 1px $h-border solid;
            background-image: url("../assets/images/ux-skill.png");

            @include breakpoint(1200px) {
                border-right: 0;
                border-bottom: 1px $h-border solid;
            }
        }

        &:last-child {
            background-image: url("../assets/images/ui-skill.png");
        }

        .section-title {
            @include H3-bold;
        }

        .section-list {
            .section-list-item {
                @include body--large;

            }
        }

        .primary-btn {
            margin-top: auto;
        }
    }
}