@use "../styles" as *;


// Primary-button
.primary-btn {
    @include body-bold;
    color: $h-black;
    display: flex;
    width:fit-content;
    gap: 8px;

    border-radius: 16px;
    border: 1px solid $h-black;
    background: $h-white;
    box-shadow: 0px 4px 0px 0px $h-black;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        transform: translateY(6px);
        box-shadow: 0px 0px 0px 0px $h-black;

        @include lg {
        transform: none;
        box-shadow: 0px 4px 0px 0px $h-black;
        }
    }

    &:active { 
        @include lg {
        transform: translateY(6px);
        box-shadow: 0px 0px 0px 0px $h-black;
        transition: .2s ease-out;
         }
    }
        
    &--btt {
        position: fixed;
        bottom: -100%;
        right: 0;
        padding: 12px;
        border-radius: 100%;

        @include md {
            padding: 10px;
            box-shadow: 0px 2px 0px 0px $h-black;
        }

        .arrow-up-icon {
            @include md {
                max-width: 20px;
            }
        }
    }

    &--btt---show {
        bottom: 48px;
        right: 54px;

        @include xl {
            bottom: 40px;
            right: 40px;
        }

        @include lg {
            bottom: 20px;
            right: 28px;
        }

        @include sm {
            bottom: 16px;
            right: 16px;
        }
    }

    .btn-icon {
        transform: translateY(-1.5px);
    }
}


// Titles
.vh-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .vh-title {
        @include H2-bold;
    
        @include xl {
            @include H3-bold;
        }
    }
    .ending-text {
        @include body--large;
        color: $h-gray ;
        max-width: 480px;
        margin: 16px 0 32px 0;

        @include sm {
            @include body;
            padding: 0 20px;
        }
    }

    .primary-btn {
        margin-bottom: 24px;
    }
}


//Divider
.vh-divider-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 24px;

    .line1 {
        width: 40px;
        height: 1px;
        background-color: $h-border;

        @include xl {
            width: 28px;
        }
    }

    .line2 {
        width: 1px;
        height: 40px;
        background-color: $h-border;

        @include xl {
            height: 28px;
        }
    }

    &--reverse {
        transform: rotate(180deg);
    }
}

// Corte das bordas
.border-details {
    display: flex;

    &--footer span:nth-child(n+1)  {
        background-color: $h-black;
        margin-top: 52px;
    }

    .hero-detail-right {
        display: block;
        width: 160px;
        height: 12px;
        background-color: $h-white;
        clip-path: polygon(92% 0%, 100% 102%, 0% 102%, 0 0%);
    
        @include xl {
            width: 64px;
            clip-path: polygon(78% 0%, 100% 106%, 0% 106%, 0 0%);
          }
    
        @include lg {
            width: 12px;
            clip-path: polygon(0% 0%, 100% 102%, 0% 102%, 0 0%);
          }
    
        @include sm {
            display: none;
          }
    }
    
    .hero-detail-left {
        display: block;
        margin-left: auto;
        width: 160px;
        height: 12px;
        background-color: $h-white;
        clip-path: polygon(100% 0%, 100% 102%, 0% 102%, 8% 0%);
    
        @include xl {
            width: 64px;
            clip-path: polygon(100% 0%, 100% 106%, 0% 106%, 22% 0%);
          }
    
        @include lg {
            width: 12px;
            clip-path: polygon(100% 0%, 100% 102%, 0% 102%, 100% 0%);
          }
    
        @include sm {
            display: none;
          }
    }
}
