@use "../styles" as *;

.vh-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @include gradient_bg;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        right: 160px;
        background-color: rgba(255, 255, 255, 0.151);
        height: 100%;
        width: 1px;

        @include xl {
            right: 64px;
          }

        @include lg {
            right: 12px;
          }

        @include sm {
            display: none;
          }
    }

    &::before {
        content: '';
        position: absolute;
        left: 160px;
        background-color: rgba(255, 255, 255, 0.151);
        height: 100%;
        width: 1px;

        @include xl {
            left: 64px;
          }

        @include lg {
            left: 12px;
          }

        @include sm {
            display: none;
          }
    }

    .hero-content-container {
        display: flex;
        align-items: center;
        margin: 180px auto 120px auto;
        color: $h-white;
        gap: 80px;
        padding: 0 24px;
        position: relative;
        z-index: 2;

        @include breakpoint(1520px) {
            max-width: 1080px;
            margin: 156px auto 72px auto;
            gap: 56px;
          }  

          @include breakpoint(1200px) {
            flex-direction: column;
            max-width: 720px;
            gap: 80px;
          }

          @include md {
            max-width: 100%;
            padding: 0 32px;
          }

          @include sm {
            margin: 112px auto 52px auto;
            padding: 0 24px;
          }


        .cta-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 520px;
          
            @include breakpoint(1200px) {
              max-width: 100%;
              align-items: center;
              }

            .hero-cta {
                @include H1-bold;
                font-size: 5.6rem;
                
              @include breakpoint(1520px) {
                  font-size: 5.2rem;
                  } 
                
              @include breakpoint(1200px) {
                text-align: center;
                  }

                  @include sm {
                    @include H3-bold;
                    font-size: 3.4rem;
                  }
            }
        }

        .hero-img-container {
          position: relative;
          animation: float 4s ease-in-out infinite;
          max-width: 520px;

            .hero-img-2 {
              position: absolute;
              top: 0;
              left: 0;
              animation: imgfade 10s infinite;
            }
        }
    }

    .hero-grid-bg-effect {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-image:  linear-gradient(#ffffff27 1px, transparent 1px), linear-gradient(to right, #ffffff27 1px, transparent 1px);
      background-size: 88px 88px;
      animation: hero-grid-animation 8s infinite ease;
    }
  }

  
@keyframes imgfade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
  100% {
		opacity: 1;
	}
}