@use "../styles" as *;

.vh-hero {
    position: relative;
    display: flex;
    height: 860px;
    width: 100%;
    background-color: $h-accent-blue;
    
    @include xl {
      height: 680px;
    }

    @include lg {
      height: fit-content;
    }

    &::after {
        content: '';
        position: absolute;
        right: 160px;
        background-color: rgba(255, 255, 255, 0.151);
        height: 100%;
        width: 1px;

        @include xl {
            right: 64px;
          }

        @include lg {
            right: 12px;
          }

        @include sm {
            display: none;
          }
    }

    &::before {
        content: '';
        position: absolute;
        left: 160px;
        background-color: rgba(255, 255, 255, 0.151);
        height: 100%;
        width: 1px;

        @include xl {
            left: 64px;
          }

        @include lg {
            left: 12px;
          }

        @include sm {
            display: none;
          }
    }

    .hero-content-container {
        display: flex;
        align-items: center;
        max-width: 1080px;
        margin: 38px auto 0px auto;
        color: $h-white;
        gap: 80px;
        padding: 0px 24px;

        @include xl {
            max-width: 960px;
            gap: 40px;
          }  

        @include lg {
            margin-top: 112px;
            margin-bottom: 40px;
            padding: 0px 40px;
          }

          @include md {
            flex-direction: column;
            padding: 0px 24px;
          }


        .cta-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: baseline;
            justify-content: center;
            max-width: 460px;
            
            @include lg {
                max-width: 100%;
              }

            @include md {
              max-width: 100%;
              align-items: center;
              }

            .hero-cta {
                @include H1-bold;
                
              @include lg {
                  @include H3-bold;
                }

              @include md {
                text-align: center;
                  }
                
            }
        }

        .hero-img-container {
            animation: float 6s ease-in-out infinite;
            max-width: 480px;
        }
    }

    .hero-detail-right {
        position: absolute;
        bottom: 0;
        width: 160px;
        height: 12px;
        background-color: $h-white;
        left: 0;

        @include xl {
            width: 64px;
          }

        @include lg {
            width: 12px;
          }

        @include sm {
            display: none;
          }
          
        &::after {
            position: absolute;
            content: "";
            border-top: 12px solid $h-accent-blue;
            border-bottom: 12px solid transparent;
            border-left: 12px solid transparent;
            right: 0; 
        }
    }

    .hero-detail-left {
        position: absolute;
        bottom: 0;
        width: 160px;
        height: 12px;
        background-color: $h-white;
        right: 0;

        &::after {
            position: absolute;
            content: "";
            border-top: 12px solid $h-accent-blue;
            border-bottom: 12px solid transparent;
            border-right: 12px solid transparent;
            left: 0;
        }

        @include xl {
            width: 64px;
          }

        @include lg {
            width: 12px;
          }

        @include sm {
            display: none;
          }
    }

}