@use "../styles" as *;

.intro-img {
    border-radius: 900px;
    width: 120px;
    height: 120px;
    outline: 1px solid $h-border;
    outline-offset: 10px;
    margin: 160px auto 32px auto;
}

.intro-text-container {
    position: relative;
    display: flex;
    margin: 0px 160px 160px 160px;

    @include xl {
        margin: 0px 64px 160px 64px;
    }

    @include lg {
        margin: 0px 12px 160px 12px;
    }

    @include sm {
        margin: 0px 0px 160px 0px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: $h-border;
        border-radius: 0px 96px 96px 0px;

        @include md {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: $h-border;
        border-radius: 96px 0px 0px 96px;

        @include md {
            display: none;
        }
    }

    .intro-text {
        position: relative;
        margin: auto;
        padding: 0 20px;
        @include body--large;
        max-width: 480px;
        text-align: center;
        color: $h-gray;

        @include xl {
            @include body;
        }

        @include sm {
            padding: 0 40px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 40%;
            left: -40%;
            width: 1px;
            height: 30%;
            background-color: $h-border;

            @include xl {
                left: -20%;
            }

            @include md {
                display: none;
            }
        }
    
        &::after {
            content: '';
            position: absolute;
            bottom: 40%;
            right: -40%;
            width: 1px;
            height: 30%;
            background-color: $h-border;

            @include xl {
                right: -20%;
            }

            @include md {
                display: none;
            }
        }
    }
}