@use "../styles" as *;

.intro-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px auto 20px auto;

    .intro-img {
        border-radius: 900px;
        width: 120px;
        height: 120px;
        outline: 1px solid $h-border;
        outline-offset: 10px;
        margin-bottom: 32px;

        @include xl {
            width: 106px;
            height: 106px;
        }

    }
    .intro-question {
        @include H2-bold;

        @include xl {
            @include H3-bold;
        }
    }
    // Cross-component
    .vh-divider-one {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 12px;

        .line1 {
            width: 40px;
            height: 1px;
            background-color: $h-border;

            @include xl {
                width: 28px;
            }
        }

        .line2 {
            width: 1px;
            height: 40px;
            background-color: $h-border;

            @include xl {
                height: 28px;
            }
        }
    }
}

.intro-text-container {
    position: relative;
    display: flex;
    margin: 0px 160px 160px 160px;

    @include xl {
        margin: 0px 64px 160px 64px;
    }

    @include lg {
        margin: 0px 12px 160px 12px;
    }

    @include sm {
        margin: 0px 0px 160px 0px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: $h-border;
        border-radius: 0px 96px 96px 0px;

        @include md {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: $h-border;
        border-radius: 96px 0px 0px 96px;

        @include md {
            display: none;
        }
    }

    .intro-text {
        position: relative;
        margin: auto;
        padding: 0 20px;
        @include body--large;
        max-width: 480px;
        text-align: center;

        @include xl {
            @include body;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 40%;
            left: -40%;
            width: 1px;
            height: 30%;
            background-color: $h-border;

            @include xl {
                left: -20%;
            }

            @include md {
                display: none;
            }
        }
    
        &::after {
            content: '';
            position: absolute;
            bottom: 40%;
            right: -40%;
            width: 1px;
            height: 30%;
            background-color: $h-border;

            @include xl {
                right: -20%;
            }

            @include md {
                display: none;
            }
        }
    }
}