@use "../styles" as *;

.skills-grid-display {
    display: grid;
    justify-content: center;
    margin: 0 160px 160px 160px;
    border-bottom: 1px $h-border solid;
    grid-template-columns: repeat(6, 1fr);

    @include xl {
      margin: 0 64px 160px 64px;
      }

    @include lg {
        margin: 0 12px 160px 12px;
        grid-template-columns: repeat(4, 1fr);
      }

    @include sm {
      margin: 0 0px 160px 0px;
        grid-template-columns: 1fr;
    }

    .skill-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 0;
        border: 1px $h-border solid;

        &:nth-child(1) {
          border-left: none;

          @include lg {
            border-bottom: none;
          }
        }

        &:nth-child(2) {
          border-left: none;
          border-right: none;
        }

        &:nth-child(3) {
          border-right: none;
        }

        &:nth-child(5) {
          border-top: none;
          border-right: none;
          border-bottom: none;

          @include lg {
            border-bottom: inherit;
          }
        }

        &:nth-child(7) {
          border-top: none;
          border-bottom: none;
        }

        @include xl {
            padding: 56px 0;
          }

        @include lg {
            padding: 40px 0;
          }

        .skill-img {
            max-width: 200px;
            margin-bottom: 20px;
            
            @include xl {
                max-width: 180px;
              }
        }

        .skill-title {
            @include H3-bold;
            margin-bottom: 24px;
            text-align: center;

            @include xl {
                margin-bottom: 16px;
              }
        }
        .skill-text {
            @include body;
            color: $h-gray;
            text-align: center;
            max-width: 320px;
            padding: 0 24px;

            @include sm {
              max-width: 100%;
              padding: 0 40px;
            }
        }
    }

    .grid-col-span-1 {
        grid-column: span 2;
    }

    .grid-col-span-2 {
        grid-column: span 2;
    }

    .skill-display-detail-left-xl {
        margin-top: auto;
        justify-self: start;

        @include lg {
            display: none;
          }
    }

    .skill-display-detail-left-lg {
        margin-top: auto;
        justify-self: start;
        display: none;

        @include lg {
            display: block;
          }

        @include sm {
            display: none;
          }
    }

    .skill-display-detail-right {
        margin-top: auto;
        justify-self: end;

        @include sm {
            display: none;
          }
    }
}