@use "../styles" as *;

// Base styles

* {
  color: inherit;
  margin: 0;
}

html {
  ::-moz-selection { /* Code for Firefox */
    color: $h-white;
    background: $h-accent-blue;
  }
  ::selection {
    color: $h-white;
    background: $h-accent-blue;
  }
  font-size: 62.5%;
}

body {
  // Verificar se isso não dá problema em outros componentes (Position relative no body)
  position: relative;
  font-family: 'Times New Roman', Helvetica, Sans-serif;
  background-color: $h-white;
  color: $h-black;
  font-size: 1.6rem;
  //ver o que é isso
  -webkit-font-smoothing: antialiased;


  // Linhas laterais
  &::before {
    content: '';
    position: absolute;
    left: 160px;
    background-color: $h-border;
    height: 100%;
    width: 1px;
    z-index: -1;

    @include xl {
        left: 64px;
      }

    @include lg {
        left: 12px;
      }

    @include sm {
        display: none;
      }
}

  &::after {
    content: '';
    top: 0;
    position: absolute;
    right: 160px;
    background-color: $h-border;
    height: 100%;
    width: 1px;
    z-index: -1;

    @include xl {
        right: 64px;
      }

    @include lg {
        right: 12px;
      }

    @include sm {
        display: none;
      }
 }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

svg {
  transition: all .2s ease;
}

// Custom scroll

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $h-black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $h-white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $h-accent-blue; 
}