// fonts - Whyte

@font-face {
    font-family: 'Whyte';
    src: url('../assets/fonts/whyte/Whyte-Light.woff2') format('woff2'),
         url('../assets/fonts/whyte/Whyte-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
     font-family: 'Whyte';
     src: url('../assets/fonts/whyte/Whyte-Regular.woff2') format('woff2'),
          url('../assets/fonts/whyte/Whyte-Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
     font-family: 'Whyte';
     src: url('../assets/fonts/whyte/Whyte-Medium.woff2') format('woff2'),
          url('../assets/fonts/whyte/Whyte-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
 }

 @font-face {
     font-family: 'Whyte';
     src: url('../assets/fonts/whyte/Whyte-Bold.woff2') format('woff2'),
          url('../assets/fonts/whyte/Whyte-Bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
 }
