
@keyframes gradient {
	0% {
		background-position: 0% ;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes hero-grid-animation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}

	100% {
		background-position: 0% -100%;
		opacity: 0;
	}
}
